* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #edeef6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  background-color: #edeef6;
}

.add-quote {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  align-items: center;
  margin: 1rem;
  gap: 3rem;
}

.input {
  width: 100%;
  padding: 0.75rem 1rem;
  outline: none;
  border: none;
  background-color: #fcc8d1;
  color: #000;
}

.button {
  background-color: #d14d72;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-quote .button {
  width: 60%;
}

.button:hover {
  background-color: #fcc8d1;
  color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: #fff;
  max-width: 100%;
  width: 600px;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

.open {
  opacity: 1;
  pointer-events: auto;
}

.favorites-sec {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 8rem;
}

.quote {
  background-color: #fff;
  max-width: 100%;
  width: 600px;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}

.quote .quote-text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #d14d72;
}

.no-quotes-display {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #d14d72;
}

.logo {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #d14d72;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.top-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.fa-circle-xmark {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #d14d72;
  cursor: pointer;
}

.right-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.right-part a {
  text-decoration: none;
  color: #d14d72;
  cursor: pointer;
}

.daily-quotes-sec,
.favorites-sec {
  display: none;
}

.quote-text-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favorite {
  cursor: pointer;
  color: #d14d72;
  font-size: 2rem;
}
